 html {
   background-color: rgb(9, 28, 37);
 }

 .app-main {
   /* box-sizing: border-box; */
   background-color: rgb(9, 28, 37);
   color: white;
 }

 .movie-details img, h6, h3 {
    
 }

 .remove-btn {
   margin-right: 0.5rem;
 }

 .fade-enter {
   opacity: 0.01;
 }

 .fade-enter-active {
   opacity: 1;
   transition: opacity 1000ms ease-in;
 }

 .fade-exit {
   opacity: 1;
 }

 .fade-exit-active {
   opacity: 0.01;
   transition: opacity 1000ms ease-in;
 }

 .landing {
   position: relative;
   /* background: url('./store.jpg') no-repeat center center/cover; */
   height: 100vh;
 }

 .card {
   border: none;
 }

 .card {
   width: 300px;
 }

 .card .card-image .card-title {
   color: black;
   font-weight: 400
 }


 .box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap
 }

 .movie-container {
   padding: 35px;
   border-radius: 40px;

 }



 /* .movie-list {
   color: white;
 } */


 .movie-details > {
  margin-top: 85px;
  display: flex;

 }

 .lblCartCount {
   font-size: 15px;
   background: yellow;
   color: black;
   padding: 0 4px;
   vertical-align: top;
 }

 .pagination nav {
   margin-left: auto;
   margin-right: auto;
   display: flex;
   margin-bottom: 20px;
   margin-top: 20px;
   cursor: pointer;
 }

 .align-cart {
   display: flex;
 }

 .movie-border {
   margin: 30px;
   margin-right: 50px;
   padding: 10px;
   color: white
 }

 /* 
 .hover-movie:hover {
   transition-duration: 0.5s;
   transform: scale(1.1);
  
 } */

 .related-movies-outerLayer {
   display: flex;
   margin: 5%;
   padding-left: 3%;

 }

 .related-movies-inner-elements {
   margin-right: 30px;
 }


 /* .page-pagination ul a {
   border: 2px solid white;

 } */

 .page-pagination-inner {
   display: flexbox;
 }

 .highlight-hover:hover {
  background-color: red;
  cursor: pointer;
 }
