 .movie-details-container {

     background-size: cover !important;
     background-position: center !important;
     width: 100%;
     height: 800px;
     padding: 40px 20px;
     box-sizing: border-box;
}


/* .rmdb-movieinfo-content {
     border: greenyellow;
     max-width: 1280px;
     width: 100%;
     height: 100%;
     margin: 0 auto;
     background: rgb(0, 0, 0, 0.7);
     position: relative;
} */

/* .rmdb-movieinfo-text {
     margin: auto;
} */


/* .rmdb-rating {
     width: 250px;
     height: 20px;
     margin-top: 20px;
     position: relative;
} */


/* 
@media (min-width: 576px) {
     .movie-details-container {
          background-size: cover !important;
          background-position: center !important;
          width: 100%;
          height: 800px;
          padding: 40px 20px;
          box-sizing: border-box;
     }

     .rmdb-movieinfo-content {
          border: greenyellow;
          max-width: 1280px;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          background: rgb(0, 0, 0, 0.7);
          position: relative;
     }

     .rmdb-movieinfo-text {
          margin: auto;
     }


     .rmdb-rating {
          width: 250px;
          height: 20px;
          margin-top: 20px;
          position: relative;
     }


}  */